{% load static %}
{% load bootstrap5 %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'ex:index' %}">&nbsp&nbsp&nbspEx042</a>

  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:index' %}">All Articles</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:publications' %}">My publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:favorites' %}">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:logout' %}">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:index' %}"><strong>{{ user.username }}</strong></a>
      </li>
      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:register' %}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ex:index' %}">(Anonim)</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="body">
  {% block body %}
  {% endblock %}
</div>