{% extends "ex01/base.html" %}
{% load static %}

{% block title %}
"Ex01: Display process of a static page.
{% endblock %}


{% block body %}

  <div class="row justify-content-center p-2">
      <h5>Proccess for static pages</h5>
  </div>
  <div class="row justify-content-center p-2">
      <ul>
        <li>
            In static web pages, Pages cnanges only manualy
        </li>
        <li>Loading more faster than dynamic pages</li>
        <li>Database not used</li>
        <li>typycal its clear HTML, CSS and JavaScript files</li>
      </ul>
  </div>

    
{% endblock %}
