{% extends "ex01/base.html" %}
{% load static %}

{% block title %}
"Ex01: Display process of a static page.
{% endblock %}


{% block body %}
  <div class="row justify-content-center p-2">
      <h5>Django — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC[6]. Проект поддерживается организацией Django Software Foundation.</h5>
  </div>
  <div class="row justify-content-center p-2">
      <p><br>Первый выпуск	21 июля 2005; 16 лет назад<br>
          Последняя версия 4.0.4 (11 апреля 2022)
      </p>
  </div>

    
{% endblock %}
