<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Display</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <table class="table table-dark table-bordered text-center ">
      <tbody>
        <tr>
          <th>title</th>
          <th>episode_nb</th>
          <th>opening_crawl</th>
          <th>director</th>
          <th>producer</th>
          <th>release_date</th>
          <th>created</th>
          <th>updated</th>
        </tr>
        {% for movie in movies %}
            {% for field in movie %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </toby>
    </table>
  </body>
</html>